

* {
    box-sizing:border-box;
}

html {
    margin: 0;
    padding:0;
}
body {
    background-color:aqua;
    padding:0;
    margin:0;
    display:flex;
}
#wrap {
    display:flex;
    flex-direction:column;
    background-color:aqua;
    width: 95%;
    margin:auto;
    padding: 2em;
}

main {
    display:flex;
    flex-direction:row;
   
}

#sidebar {
    padding: 1rem;
    gap:0.5rem;
    background-color:#cccccc;
    flex-basis: 40%; 
    display:flex;
    flex-direction:column; 
}

#mainArea {
    background-color: lightcoral;
    flex-basis: 60%;
    display:flex;
    align-items:stretch;
}

#mainArea.landscape {
    flex-direction:column;
}

#buttonBox {
   
    align-items:flex-start;
    justify-content:left;
    flex-wrap:wrap;
    
    background-color:green;
    flex-grow:1;
    margin: 5rem 0.5rem 1rem 0.5rem;
    border-radius: 20px;
    border:3px solid white;
}

.landscape #buttonBox {
    margin: 1rem;
}

#canvasTypeList {
    list-style:none;
    margin-top: 0;
}

.textGroup {
    display:flex;
    flex-direction:column;
    gap: 0;
}

#phoneCanvas {
    position:relative;
    margin:1rem;
    background-color:black;
    border:3px solid white;
    border-radius:40px;
    flex-shrink:0;
    flex-grow:0;
    overflow:hidden;
}
#controlMapping {
    box-sizing:content-box;
    border-top:1px gray dotted;
    position:absolute;
    bottom: 0px;
    width:414px;
    height:354px;
}
#phoneCanvas.etePortrait {
    box-sizing:content-box;
    width: 414px;
    height: 896px;

}

#phoneCanvas.stdPortrait {
    box-sizing:content-box;
    width: 414px;
    height: 736px;
}

#phoneCanvas.eteLandscape {
    box-sizing:content-box;
    width: 896px;
    height: 414px;
}

#phoneCanvas.stdLandscape {
    box-sizing:content-box;
    width: 736px;
    height: 414px;
}

#screen {
    position:absolute;
    background-color:aqua;
    top:4px;
}

.etePortrait > #screen {
    top:33px;
}

.etePortrait > #screen.gba, .stdPortrait > #screen.gba {
    width:414px;
    height:276px;
}

.etePortrait > #screen.gbc, .stdPortrait > #screen.gbc {
    width:414px;
    height:373px;
}

.etePortrait > #screen.nds, .stdPortrait > #screen.nds {
    width:414px;
    height:621px;
}

.etePortrait > #screen.snes, .stdPortrait > #screen.snes {
    width:414px;
    height:362.25px;
}

.button {
    width:100%;
    height:100%;
}
.buttonBorder{
    display:inline-block;
    width:fit-content;
    position:relative;
    
    border: 1px lightgray dotted;
}

#buttonBox .buttonBorder {
    margin:8px;
    
}

#buttonBox .button {
    margin-bottom:-4px;
}

.buttonBorder.selected{

    border:1px aqua dashed;
}

.corner {
    --cornerSize: 6px;
    width:var(--cornerSize);
    height:var(--cornerSize);
    border-radius:var(--cornerSize);
    border: 1px solid white;
    position:absolute;
}


.lowerRightCorner {
    bottom:calc(0px - var(--cornerSize) / 2);
    right:calc(0px - var(--cornerSize) / 2);
    cursor:se-resize;
}

.upperRightCorner {
    top: calc(0px - var(--cornerSize) / 2);
    right: calc(0px - var(--cornerSize) / 2);
    cursor:ne-resize;
}

.lowerLeftCorner {
    bottom: calc(0px - var(--cornerSize) / 2);
    left: calc(0px - var(--cornerSize) / 2);
    cursor:sw-resize;
}

.upperLeftCorner {
    top:calc(0px - var(--cornerSize) / 2);
    left:calc(0px - var(--cornerSize) / 2);
    cursor:nw-resize;
}

.buttonBorder:hover {
    cursor:move;
}

